@use 'sass:color';
@import 'styles/palette';

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	@include themed {
		background-color: rgba(t('primary'), 0.9);
		border-bottom: solid 2px t('secondary');
	}

	button {
		height: 100%;
		border: none;

		transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
		display: flex;
		align-items: center;

		@include themed {
			color: t('light-grey');
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			@include themed {
				color: t('secondary');
			}
		}

		span {
			font-size: clamp(0.5rem, 0.5rem + 1.5vw, 1rem);
		}
	}
}
