@import '../palette.scss';

@mixin progress-bar($color) {
	progress::-moz-progress-bar {
		background-color: $color;
		height: 0.2rem;
		border-radius: 0.1rem;
	}

	progress::-webkit-progress-value {
		background-color: $color;
		height: 0.2rem;
		border-radius: 0.1rem;
	}

	progress {
		color: $color;
		height: 0.2rem;
		width: 100%;
		border: none;
		border-radius: 0.1rem;
	}
}

.dates {
	// font-weight: bold;
	font-style: italic;
	color: $medium-grey;
}

.titles h2 {
	font-size: 1.25rem;
}

.tldr h3 {
	margin-bottom: 0;
	margin-top: 0;
	color: $light-grey;
}

.tldr li {
	font-weight: 600;
	color: $light-grey;
}

.tldr,
.technology {
	h3 {
		font-size: 1rem;
	}
}

.tldr,
.technologies {
	padding-bottom: 2rem;
}

.progress {
	display: flex;

	&.python {
		@include progress-bar(#f2c73eff);
	}

	&.jee {
		@include progress-bar(#e53127ff);
	}

	&.mysql {
		@include progress-bar(#00618aff);
	}

	&.react {
		@include progress-bar(#61dbfbff);
	}

	&.express {
		@include progress-bar(#4f4f4f);
	}

	&.mongodb {
		@include progress-bar(#4a9e47);
	}

	&.jest {
		@include progress-bar(#bc3a13);
	}
}
