@import '../palette';

.text {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.columns {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.imageBorder {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 9999px;
	border: solid $primary-lighterer 3px;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.hover .imageBorder {
	top: 0;
	left: 0;
}

.imageWrapper {
	margin-left: 3rem;
	margin-right: 3rem;
	position: relative;
	border-radius: 9999px;
}

// tint the image
.imageWrapper:after {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: scale-color($color: $primary-lighter, $alpha: -50%);
	top: 0;
	left: 0;
	display: block;
	content: '';
	border-radius: 9999px;
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hover.imageWrapper:after {
	background-color: rgba(0, 0, 0, 0);
}

.image {
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	border-radius: 9999px;
}

div.title {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: solid $light-grey 1px;
}

.hobbies {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.hobbies button {
	border-radius: 9999px;
	border: 0;

	* {
		width: 1.5rem;
		height: 1.5rem;
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&:hover * {
		margin-bottom: 0.5rem;
	}
}

.iam,
.name,
.job {
	text-align: left;
}

.iam {
	font-size: 1rem;
	color: $primary-lightererer;
	font-weight: normal;
}

.job {
	color: $medium-grey;
}

.hobbies_title {
	font-size: 1.25rem;
	white-space: nowrap;
}

.modal_body {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	.modal_image {
		display: flex;
		align-items: center;
		flex-grow: 4;
	}
}
