@use 'sass:color';
@import '../palette.scss';

// $bg: color.adjust(#323232, $lightness: -5%);

.navbar {
	position: fixed;
	width: 100%;
	background-color: $primary;
	display: flex;
	justify-content: flex-end;
}

.navbar > a {
	color: $light-grey;
	transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar > a:hover {
	background-color: $primary;
	color: $secondary;
	animation: forwards 0.5s ease-in;
}
