@import 'styles/palette';

.root {
	display: flex;
	flex-direction: row;

	@media (min-width: 768px) {
		flex-direction: column;
		align-items: center;

		&:after {
			height: 4rem;
			width: 0;
			content: '';
			border-left: solid $light-grey 1px;
			[data-theme='light'] & {
				border-color: $light-grey--light;
			}
		}
	}

	button {
		border: 0;
		background: none;
		font-size: 1.5rem;

		&:hover {
			padding-bottom: 0.5rem;
		}
	}
}
