@import 'styles/palette';
$selector-item-height: 2.5rem;

.root {
	max-width: 95vw;

	@media (min-width: 768px) {
		max-width: 85vw;
	}
}

.experiences_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.experience_selector {
	height: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	@include themed {
		border-left: solid t('medium-grey') 1px;
	}

	position: relative;

	@media (min-width: 768px) {
		margin-right: 4rem;
	}

	.button {
		border: 0;
		border-radius: 0;

		justify-content: flex-start;

		height: $selector-item-height;

		white-space: nowrap;

		&.selected,
		&:hover {
			@include themed {
				color: t('light-grey');
				background-color: rgba(t('secondary'), 0.4);
			}
		}
	}

	@for $i from 0 through 1 {
		.selected_margin--#{$i} {
			height: $selector-item-height;
			width: 0;
			top: #{2.5 * $i}rem;
			left: 0;

			position: absolute;

			@include themed {
				border-left: solid 3px t('secondary');
			}

			transition: top 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

			@media (min-width: 768px) {
				border-top: 0;
			}
		}
	}
}
