@import 'styles/mixins/animateOnScroll';

.root {
	max-width: 95vw;

	@media (min-width: 768px) {
		max-width: 85vw;
	}

	@include animateOnScroll('in_viewport', 2);
}

.experiences_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	min-height: 100vh;

	@media (min-width: 768px) {
		flex-direction: row;
	}
}
