@use 'sass:color';
@import './palette';

* {
	box-sizing: border-box;
}

#root {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;

	@media (min-width: 768px) {
		scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-padding: 50px;
	}

	> #content {
		position: relative;
		> .section {
			/* max-width: 95vw; */
			min-height: 100vh;
			margin-left: auto;
			margin-right: auto;
			padding-top: 3.5rem;
			scroll-snap-align: start;
      scroll-snap-stop: always;
		}
	}
}

#background {
	position: absolute;
	z-index: -1;

	top: clamp(-500px, -40vw, -280px);
	right: clamp(-500px, -100vw, -280px);

	width: clamp(700px, 700px + 50vw, 1700px);
	height: clamp(800px, 120vw, 1500px);

	opacity: 0.8;

	$gradient--dark: radial-gradient(
		closest-side,
		adjust-color(map-get(map-get($themes, 'dark'), 'primary'), $red: +100%),
		map-get(map-get($themes, 'dark'), 'primary')
	);

	$gradient--light: radial-gradient(
		closest-side,
		adjust-color(
			map-get(map-get($themes, 'light'), 'primary'),
			$green: -100%,
			$blue: -100%
		),
		map-get(map-get($themes, 'light'), 'primary')
	);

	@include themed {
		@if t('theme') == 'dark' {
			background: $gradient--dark;
		} @else {
			background: $gradient--light;
		}
	}
}
