@use 'sass:color';
@import './palette';

* {
	box-sizing: border-box;
}

#root {
	& > * {
		/* max-width: 95vw; */
		min-height: 100vh;
		margin-left: auto;
		margin-right: auto;
		padding-top: 3.5rem;
	}
}

#background {
	height: 0;
	width: 0;
	z-index: -10;

	* {
		position: absolute;
		z-index: -9;
	}

	#background-1 {
		$gradient: radial-gradient(
			closest-side,
			color.adjust($primary, $red: +100%),
			rgba(0, 0, 0, 0)
		);
		background: $gradient;
		[data-theme='light'] & {
			$gradient: radial-gradient(
				closest-side,
				color.adjust($primary--light, $green: -100%, $blue: -100%),
				rgba(0, 0, 0, 0)
			);
			background: $gradient;
		}
		top: clamp(-500px, -40vw, -280px);
		right: clamp(-500px, -100vw, -280px);

		width: clamp(700px, 700px + 50vw, 1700px);
		height: clamp(800px, 120vw, 1500px);

		opacity: 0.8;

		animation-name: gradientAppear;
		animation-duration: 2s;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

		@keyframes gradientAppear {
			from {
				transform: scale(20%, 20%) translate(20%, -20%);
				opacity: 0;
			}
			to {
				transform: scale(100%, 100%) translate(0, 0);
				opacity: 0.8;
			}
		}
	}
}
