$dark-mode-button-bottom-position: 2rem + 2.5rem;
.darkModeButton {
	position: fixed;
	bottom: $dark-mode-button-bottom-position;
	right: 1rem;
}

$navbar-height: 3.5rem;
.navbar {
	position: fixed;
	width: 100%;
	height: $navbar-height;
	z-index: 1;
}

$up-button-bottom-position: 1rem;
.upButton {
	position: fixed;
	bottom: $up-button-bottom-position;
	right: 1rem;
	width: 3rem;
}

.about,
.experiences {
	max-width: 95vw;
	@media (min-width: 768px) {
		max-width: 70vw;
	}

	@media (min-width: 1500px) {
		max-width: 50vw;
	}
}
