$primary: #00252f;
$primary-light: #003c4d;
$primary-lighter: #004f66;
$primary-lighterer: #007799;
$primary-lightererer: #00c6ff;

$secondary: #e07a00;
$dark-grey: #28373b;
$medium-grey: #96a5a9;
$light-grey: #e1e5e6;

$primary--light: #e9f7fbff;
$primary-light--light: #a7def1ff;
$primary-lighter--light: #67c8e4ff;
$primary-lighterer--light: #229fc3ff;
$primary-lightererer--light: #176a82ff;

$secondary--light: #e07a00;
$dark-grey--light: #e1e5e6;
$medium-grey--light: #96a5a9;
$light-grey--light: #28373b;

$dark: 'dark';
$light: 'light';
