@use 'sass:color';
@import 'styles/palette';

$global-border-radius: 0.5rem;

.root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	@include themed {
		background-color: color.adjust(t('dark-grey'), $alpha: -0.4);
	}
}

.modal {
	border-radius: $global-border-radius;
	display: inline-block;
	overflow: auto;
	max-height: 80%;
	@include themed {
		background-color: t('primary');
	}

	@media (min-width: 768px) {
		max-width: 80%;
	}
}

.header,
.body,
.footer {
	padding: 0 1rem;
}

.header,
.footer {
	@include themed {
		background-color: t('primary');
	}
}

.body {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.header {
	// padding-top: 1rem;
	border-top-left-radius: $global-border-radius;
	border-top-right-radius: $global-border-radius;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	h1 {
		font-size: 1.5rem;
	}

	.button_close {
		border-radius: 9999px;

		padding: 0;
		width: 1.5rem;
		height: 1.5rem;
		margin-left: 1rem;

		@include themed {
			border: solid t('light-grey') 2px;
			background-color: t('dark-grey');
			color: t('light-grey');
		}

		&:hover {
			@include themed {
				border-color: t('secondary');
				color: t('secondary');
			}
		}
	}
}

.footer {
	border-bottom-left-radius: $global-border-radius;
	border-bottom-right-radius: $global-border-radius;
}
