@import 'styles/palette';
$height: 2.5rem;
.root {
	@include themed {
		background-color: rgba(t('primary'), 0.8);
	}

	&.top {
		bottom: -$height;
	}

	&:focus {
		@extend .root;
	}
}
