@import "styles/palette";
@import "styles/mixins/animate-column-rule";

.dates {
  font-style: italic;

  @include themed {
    color: t("medium-grey");
  }
}

.titles h2 {
  font-size: 1.25rem;
}

.tldr h3 {
  margin-bottom: 0;
  margin-top: 0;

  @include themed {
    color: t("light-grey");
  }
}

.tldr li {
  font-weight: 600;

  @include themed {
    color: t("light-grey");
  }
}

.tldr,
.technology {
  h3 {
    font-size: 1rem;
  }
}

.tldr,
.technologies {
  padding-bottom: 2rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 0.8rem;

  .technology_link {
    .technology {
      display: flex;
      align-items: center;
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      &.python {
        border: 2px solid #f2c73eff;
      }

      &.jee {
        border: 2px solid #e53127;
      }

      &.mysql {
        border: 2px solid #00618aff;
      }

      &.react {
        border: 2px solid #61dbfbff;
      }

      &.express {
        border: 2px solid #4f4f4f;
      }

      &.mongodb {
        border: 2px solid #4a9e47;
      }

      &.jest {
        border: 2px solid #bc3a13;
      }

      &.typescript {
        border: 2px solid #3178c6;
      }

      &.cypress {
        border: 2px solid #a4e5cc;
      }

      &.mui {
        border: 2px solid #00b0ff;
      }

      &.figma {
        border: 2px solid #f24e1e;
      }

      > img {
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.4rem;
        border-radius: 50%;
        padding: 0.1rem;
        @include themed {
          background-color: map-get(map-get($themes, "light"), "primary");
        }
      }

      > span {
        font-weight: bold;
      }
    }
  }
}

.body {
  @media (min-width: 1201px) {
    @include two-columns;
  }
}
