@import "styles/palette";
@import "styles/mixins/animate-column-rule";

.dates {
  font-style: italic;

  @include themed {
    color: t("medium-grey");
  }
}

.titles h2 {
  font-size: 1.25rem;
}

.tldr h3 {
  margin-bottom: 0;
  margin-top: 0;

  @include themed {
    color: t("light-grey");
  }
}

.tldr li {
  font-weight: 600;

  @include themed {
    color: t("light-grey");
  }
}

.tldr,
.technology {
  h3 {
    font-size: 1rem;
  }
}

.tldr,
.technologies {
  padding-bottom: 2rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 0.8rem;

  > span {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    cursor: default;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &.python {
      color: #f2c73eff;
      border: 2px solid #f2c73eff;
    }

    &.jee {
      color: #e5312796;
      border: 2px solid #e5312796;
    }

    &.mysql {
      color: #00618aff;
      border: 2px solid #00618aff;
    }

    &.react {
      color: #61dbfbff;
      border: 2px solid #61dbfbff;
    }

    &.express {
      color: #4f4f4f;
      border: 2px solid #4f4f4f;
    }

    &.mongodb {
      color: #4a9e47;
      border: 2px solid #4a9e47;
    }

    &.jest {
      color: #bc3a13;
      border: 2px solid #bc3a13;
    }

    &.typescript {
      color: #3178c6;
      border: 2px solid #3178c6;
    }

    &.cypress {
      color: #a4e5cc;
      border: 2px solid #a4e5cc;
    }

    &.mui {
      color: #00b0ff;
      border: 2px solid #00b0ff;
    }

    &.figma {
      color: #f24e1e;
      border: 2px solid #f24e1e;
    }

    > img {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.4rem;
      border-radius: 50%;
      padding: 0.1rem;
      @include themed {
        // background-color: t("light-grey");
        background-color: map-get(map-get($themes, "light"), "primary");
      }
    }

    > span {
      font-weight: bold;
    }
  }
}

.body {
  @media (min-width: 1201px) {
    @include two-columns;
  }
}
