@import 'styles/palette';

$wave-duration: 1s;
$slide-in-duration: 1s;

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
}

.iam,
.job {
	text-align: left;
}

.iam {
	display: flex;
	align-items: center;

	font-weight: normal;
	margin-bottom: 0;

	@include themed {
		color: t('primary-lighterer');
	}
}

.job {
	margin-top: 0;

	@include themed {
		color: t('medium-grey');
	}
}
