@import 'styles/palette';

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	* {
		z-index: 1;
	}
}

.title {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
}

.iam,
.job {
	text-align: left;
}

.iam {
	display: flex;
	align-items: center;

	font-weight: normal;
	margin-bottom: 0;

	@include themed {
		color: t('primary-lighterer');
	}
}

.jobDraggableWrapper {
	width: fit-content;
	.job {
		margin-top: 0;
		// width: fit-content;

		@include themed {
			color: t('medium-grey');
		}
	}
}

.boundaries {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: -1;
}
