@import 'styles/palette';

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
}

.iam,
.name,
.job {
	text-align: left;
}

.iam {
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 0;

	color: $primary-lightererer;
	[data-theme='light'] & {
		color: $primary-lightererer--light;
	}
}

.name {
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}

.job {
	margin-top: 0;

	color: $medium-grey;
	[data-theme='light'] & {
		color: $medium-grey--light;
	}
}
