@import 'styles/mixins/animateOnScroll';
@import 'styles/palette';

.root {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-size: clamp(1.5rem, 5vw, 3rem);
		margin-bottom: 3rem;
	}

	> * {
		margin: 0 auto;
	}
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 0.5em;
}

.button {
	border: solid $secondary 2px;
	color: $secondary;
	background: linear-gradient(to right, $secondary 50%, $primary 50%);
	background-size: 200% 100%;
	background-position: right bottom;

	[data-theme='light'] & {
		border: solid $secondary--light 2px;
		color: $secondary--light;
		background: linear-gradient(
			to right,
			$secondary--light 50%,
			$primary--light 50%
		);
		background-size: 200% 100%;
		background-position: right bottom;
	}

	&:hover {
		background-position: left bottom;
		color: $light-grey;
		border-color: $light-grey;
		[data-theme='light'] & {
			color: $light-grey--light;
			border-color: $light-grey--light;
		}
	}
}

.copy {
	@extend .button;
	border: 0;
	margin-left: 0.5rem;

	background: none;
	[data-theme='light'] & {
		background: none;
		border: 0;
	}

	&:hover {
		padding-bottom: 0.5rem;
	}
}

.copiedAlert {
	position: fixed;
	bottom: 1rem;
	left: 0;
	right: 0;
	width: fit-content;

	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	color: $light-grey;
	background-color: $dark-grey;
	border: solid black 1px;
	[data-theme='light'] & {
		color: $light-grey--light;
		background-color: $dark-grey--light;
	}
}

.links {
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
	width: fit-content;

	@media (min-width: 768px) {
		position: fixed;
		bottom: 0;
		left: 1rem;
		margin: 0;
	}
}
