@use 'sass:color';
@import 'styles/palette';

$height: 3.5rem;

.navbar {
	background-color: rgba($primary, 0.7);
	// box-shadow: 0 10px 30px -10px $primary;
	border-bottom: solid 2px $primary-lightererer;

	position: fixed;
	width: 100%;
	height: $height;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

	&.navbar_scroll_down {
		top: -$height;
	}

	&:not(.navbar_scroll_down) {
		top: 0;
	}

	a {
		height: 100%;
		color: $light-grey;
		transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			background-color: $primary;
			color: $secondary;
			animation: forwards 0.5s ease-in;
		}

		span {
			font-size: clamp(0.5rem, 0.5rem + 1.5vw, 1rem);
		}
	}
}
