@use 'sass:color';
@import 'styles/palette';

$height: 3.5rem;

@keyframes backgroundAppear {
	from {
		background-color: rgba($primary, 0);
	}
	to {
		background-color: rgba($primary, 0.9);
	}
}

@keyframes backgroundAppearLight {
	from {
		background-color: rgba($primary--light, 0);
	}
	to {
		background-color: rgba($primary--light, 0.9);
	}
}

.navbar {
	position: fixed;
	width: 100%;
	height: $height;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	animation-name: backgroundAppear;
	animation-duration: 4s;
	animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

	background-color: rgba($primary, 0.9);
	border-bottom: solid 2px $primary-lightererer;
	[data-theme='light'] & {
		background-color: rgba($primary--light, 0.9);
		border-bottom-color: $primary-lightererer--light;
		animation-name: backgroundAppearLight;
	}

	button {
		height: 100%;
		border: none;

		transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
		display: flex;
		align-items: center;

		color: $light-grey;
		[data-theme='light'] & {
			color: $light-grey--light;
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:hover {
			color: $secondary;
			animation: forwards 0.5s ease-in;
		}

		span {
			font-size: clamp(0.5rem, 0.5rem + 1.5vw, 1rem);
		}
	}
}
