@import 'styles/palette';
@import 'styles/mixins/animate-column-rule';

.root {
	max-width: 95vw;
	position: relative;

	@media (min-width: 768px) {
		max-width: 70vw;
	}
}

.text {
	@media (min-width: 1201px) {
		@include two-columns;

		> p {
			break-inside: avoid;
			display: inline-block;
		}
	}
}

.columns {
	display: flex;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	flex-direction: column;
	align-items: center;
	justify-content: center;

	.column:not(:first-child) {
		margin-top: 1rem;
	}
}

.hobbies_title {
	font-size: 1.25rem;
	white-space: nowrap;
}

.hobbies {
	margin-top: 1rem;
}
