@import 'styles/palette';

.root {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-size: clamp(1.5rem, 5vw, 3rem);
		margin-bottom: 3rem;
	}

	> * {
		margin: 0 auto;
	}
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 0.5em;
}

.copy {
	margin-left: 0.5rem;

	@include themed {
		border: none;
	}

	&:hover {
		padding-bottom: 0.5rem;
	}
}

.copiedAlert {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);

	width: fit-content;

	z-index: 3;

	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	@include themed {
		color: t('light-grey');
		background-color: rgba(t('dark-grey'), 0.8);
	}

	border: solid black 1px;
}
