@import 'styles/palette';

.dates {
	font-style: italic;

	@include themed {
		color: t('medium-grey');
	}
}

.titles h2 {
	font-size: 1.25rem;
}

.tldr h3 {
	margin-bottom: 0;
	margin-top: 0;

	@include themed {
		color: t('light-grey');
	}
}

.tldr li {
	font-weight: 600;

	@include themed {
		color: t('light-grey');
	}
}

.tldr,
.technology {
	h3 {
		font-size: 1rem;
	}
}

.tldr,
.technologies {
	padding-bottom: 2rem;
}

.technologies {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	>span {
		display: flex;
		align-items: center;

		&:not(:last-child)>span {
			margin-right: 0.4rem;

			&::after {
				content: ',';
			}
		}

		>img {
			display: inline-block;
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.4rem;

			&.mongodb {
				margin-right: 0;
			}
		}

		>span {
			font-weight: bold;

			&.python {
				color: #f2c73eff;
			}

			&.jee {
				color: #e53127ff;
			}

			&.mysql {
				color: #00618aff;
			}

			&.react {
				color: #61dbfbff;
			}

			&.express {
				color: #4f4f4f;
			}

			&.mongodb {
				color: #4a9e47;
			}

			&.jest {
				color: #bc3a13;
			}
		}
	}
}

.body {
	@media (min-width: 1201px) {
		column-count: 2;

		>p {
			break-inside: avoid;
			display: inline-block;
		}
	}
}