@import "styles/palette";

.imageWrapper {
  $border-width: 3px;

  position: relative;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 256px;
  height: 256px;

  .imageRoot {
    margin-top: $border-width;
  }
  &:hover,
  &:focus {
    .imageBorder {
      transform: scale(0.95);
    }

    .imageContent {
      filter: grayscale(0);
    }
  }

  .imageContent {
    filter: grayscale(100%);
  }

  .imageBorder {
    position: absolute;
    width: 256px;
    height: 256px;
    transform: scale(1.1);

    border-radius: 9999px;
    @include themed {
      border: solid t("secondary") $border-width;
    }

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .image {
    border-radius: 9999px;
    // filter: grayscale(100%);
  }
}
