/**
$n number of children to animate
it is required that the root takes class .in_viewport to be animated
*/
@mixin animateOnScroll($animated_class, $n) {
	& > * {
		transform: translateY(10vh);
		opacity: 0;
	}

	&.#{$animated_class} {
		@for $i from 1 through $n {
			& *:nth-child(#{$i}) {
				animation-duration: (1.5 * $i / 10) + 0.3s;
			}
		}

		> * {
			transform: translateY(0);
			opacity: 1;

			animation-name: slideIn;
			animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);

			@keyframes slideIn {
				from {
					transform: translateY(10vh);
					opacity: 0;
				}
				to {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
}
