@mixin progress-bar($color) {
	progress::-moz-progress-bar {
		background-color: $color;
		height: 0.5rem;
	}

	progress::-webkit-progress-value {
		background-color: $color;
	}

	progress {
		color: $color;
		height: 0.5rem;
	}
}

.tldr {
	font-weight: bold;
}

.python {
	@include progress-bar(#f2c73eff);
}

.jee {
	@include progress-bar(#e53127ff);
}

.mysql {
	@include progress-bar(#00618aff);
}
