/* .button red background, white text */
.button {
  background-color: #ff0000;
  color: white;
  /* rounded bordures */
  border-radius: 5px;
  /* black bordure */
  border: 1px solid black;
  /* nice padding */
  padding: 15px 32px;
}