@import 'styles/palette';
$bottom-position: 2rem + 2.5rem;

.root {
	position: fixed;
	bottom: $bottom-position;
	right: 1rem;

	width: 3rem;

	@include themed {
		background-color: rgba(t('primary'), 0.8);
	}
}
